<% wrap_layout :layout do %>
  <div class="page-banner">
    <p>
        These principles should be used to guide solution architects and
        developers (both internal and external) when designing and building digital services for the
        Northern Ireland Civil Service. 
    </p>
  </div>
  <%= yield %>
<% end %>
