$principles-header-padding-top: 0.75em;

.general-principles-header + h1, .general-principles-header + h2 {
  padding-bottom: 4px;
  border-bottom: solid 8px #748BC1;
}

.information-principles-header + h1, .information-principles-header + h2 {
  padding-bottom: 4px;
  border-bottom: solid 8px #439Ab6;
}

.application-principles-header + h1,  .application-principles-header + h2 {
  padding-bottom: 4px;
  border-bottom: solid 8px #6E5095;
}

.technology-principles-header + h1, .technology-principles-header + h2 {
  padding-bottom: 4px;
  border-bottom: solid 8px #2B65AA;
}
